.title{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    &_consult{
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: left;
    }
}